<div class="show-wrapper">

  <h2><%= @exhibit.title %></h2>

  <img src="<%= @exhibit.image %>"/>

  <h3><%= @exhibit.subtitle %></h3>

  <p><%= @exhibit.artist.name %></p>
  <p><strong><%= @exhibit.long(@exhibit.opening) %> - <%= @exhibit.long(@exhibit.closing) %></strong></p>
  <p><%= @description %></p>
  <p>Category: <%= @exhibit.category.name %></p>
  <p></p>

</div>
