<h1><%= @exhibit.title %></h1>
<h2><%= @exhibit.subtitle %></h2>

<p><%= @exhibit.artist.name %></p>
<p>Dates: <%= @exhibit.opening %> - <%= @exhibit.closing %></p>
<p><%= @exhibit.description %></p>
<p>Category: <%= @exhibit.category %></p>
<p></p>
