<div class="show">

  <img src="<%= @exhibit.image %>"/>

  <h1><%= @exhibit.title %></h1>
  <h2><%= @exhibit.subtitle %></h2>

  <p><%= @exhibit.artist.name %></p>
  <p><strong><%= @exhibit.long(@exhibit.opening) %> - <%= @exhibit.long(@exhibit.opening) %></strong></p>
  <p><%= @exhibit.description %></p>
  <p>Category: <%= @exhibit.category.name %></p>
  <p></p>

</div>
