<h1>Edit artist</h1>

<form method="POST" action="/artists/<%= @artist.id %>">
  <div class="form-wrapper">

    <div class="field">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @artist.name %>"/>
    </div>

    <div class="field">
      <label for="born">Year born:</label>
      <input type="text" name="born" id="born" value="<%= @artist.born %>"/>
    </div>

    <div class="field">
      <label for="bio">Biography:</label>
      <textarea name="biography" rows="10" cols="70" wrap="soft" id="bio" value="<%= @artist.biography %>"><%= @artist.biography %></textarea>
    </div>

    <div class="field">
      <label for="image">Image URL:</label>
      <textarea name="image" rows="3" cols="70" wrap="soft" id="image" value="<%= @artist.image %>"><%= @artist.image %></textarea>
    </div>

    <div class="button">
      <input type="submit" value="Confirm edit"/>
    </div>

  </div>
</form>
