<h1>Artists</h1>

<% for artist in @artists %>

<div class="artist">
  <a href="/admin/artists/<%= artist.id %>">
    <img src="<%= artist.image %>"/>
  <h3><strong><%= artist.name %></strong> (<%= artist.born %>)</h3></a>
  <p>Categories: <% for category in artist.categories() %>
      <%= category %></p>
    <% end %>

<a href="/admin/artists/<%= artist.id %>/edit">Edit Artist</a>
<form action="/admin/artists/<%= artist.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<% end %>
</div>
