<div class="show-wrapper">

  <h2><%= @artist.name %></h2>

  <img src="<%= @artist.image %>"/>

  <p>Born <strong><%= @artist.born %></strong></p>
  <p><%= @biography %></p>

  <div class="buttons">
    <form action="/admin/artists/<%= @artist.id %>/edit" method="GET"><input type="submit" value="Edit"></form>

    <form action="/admin/artists/<%= @artist.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
  </div>
</div>
