<h1>Current Exhibitions</h1>

<% for exhibit in @exhibits %>

<div class="exhibit">
  <a href="/admin/exhibitions/<%= exhibit.id %>">
  <img src="<%= exhibit.image %>"/>
  <h3><strong><%= exhibit.title %></strong></h3></a>
  <h4><%= exhibit.subtitle %></h4>
  <p><%= exhibit.artist.name %></p>
  <p><%= exhibit.opening %> - <%= exhibit.closing %></p>
  <p><%= exhibit.description %></p>
  <p>Category: <%= exhibit.category %></p>


  <% end %>
</div>
