<div class="show">

  <img src="<%= @exhibit.image %>"/>

  <h1><%= @exhibit.title %></h1>
  <h2><%= @exhibit.subtitle %></h2>

  <p><%= @artist.name %></p>
  <p><strong><%= @exhibit.long(@exhibit.opening) %> - <%= @exhibit.long(@exhibit.opening) %></strong></p>

  <p><%= @exhibit.description %></p>

  <p>Category: <%= @exhibit.category.name %></p>

  <div class="buttons">
    <form action="/admin/exhibitions/<%= @exhibit.id %>/edit" method="GET"><input type="submit" value="Edit"></form>

    <form action="/admin/exhibitions/<%= @exhibit.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
  </div>

</div>
