<h1>All Artists</h1>

<div class="flex-container">
  <% for artist in @artists %>

  <div class="item">
    <a href="/artists/<%= artist.id %>">
      <img src="<%= artist.image %>"/>
      <h3><strong><%= artist.name %></strong> (<%= artist.born %>)</h3></a>
      <p>Categories: <%= artist.categories.uniq.join(", ") %></p>
    </div>

    <% end %>
  </div>
